<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate of Completions</title>
</head>

<body>
    <div class="certificate">
        <h1>Certificate of Completion</h1>
        <p>This is certifies that</p>
        <h2>{{name}}</h2>
        <p>has successfully completed the training.</p>
        <p>Date: {{date}}</p>
    </div>
</body>

</html>